<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30001" type="bool" id="Bing" default="true"/>
    <setting label="30002" type="bool" id="Year" default="true"  enable="!eq(-1,false)"/>
    <setting label="30003" type="labelenum" values="10|20|35|50" id="count" default="10" enable="!eq(-2,false)"/>
    <setting type="sep"/>
    <setting label="30004" type="bool" id="AltPosters" default="true"/>
    <setting label="30005" type="bool" id="Fan" default="true"/>
    <setting type="sep"/>
	  <setting label="30006" type="bool" id="posterTMDB" default="true"/>
    <setting label="30007" type="bool" id="FanartTMDB" default="true"/> 
    <setting type="sep"/>  
    <setting label="30008" type="labelenum" values="Movieplayer|Movieplayer & IMDb|IMDb" id="RatingS" default="Movieplayer"/>
</settings>
