<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="30000" type="bool" id="fanart" default="true"/>
    <setting type="sep" />
    <setting label="30001" type="bool" id="search_originaltitle" default="true"/>
    <setting type="sep" />
    <setting label="30002" type="bool" id="download_trailer" default="true"/>
    <setting label="30003" type="bool" id="download_hd" default="true" enable="eq(-1,true)"/>
    <setting label="30004" type="labelenum" values="Low|Medium|High" id="TrailerQ" default="High" enable="eq(-2,true)"/>
</settings>
