<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="30012" type="bool" id="posters_from_kinopoisk" default="true"/>
    <setting type="sep" />
    <setting label="30007" type="bool" id="search_imdb_ID" default="true"/>
    <setting label="30008" type="bool" id="use_world_premier" default="true" enable="eq(-1,true)"/>
    <setting label="30009" type="bool" id="google_search" default="false" enable="eq(-2,true)"/>
    <setting label="30000" type="bool" id="fanart" default="true" enable="eq(-3,true)"/>
    <setting label="30006" type="bool" id="tmdb_poster" default="false" enable="eq(-4,true)"/>
    <setting type="sep" />
    <setting label="30001" type="bool" id="search_originaltitle" default="true"/>
    <setting type="sep" />
    <setting label="30010" type="bool" id="kinopoisk_rating" default="false"/>
    <setting type="sep" />
    <setting label="30002" type="bool" id="download_trailer" default="true"/>
    <setting label="30003" type="bool" id="download_hd" default="true" enable="eq(-1,true)"/>
    <setting label="30004" type="labelenum" values="Low|Medium|High" id="TrailerQ" default="High" enable="eq(-2,true)"/>
    <setting label="30005" type="bool" id="orig_trailer" default="false" enable="eq(-3,true)"/>
    <setting type="sep" />
    <setting label="30011" type="bool" id="rus_actor_names" default="false"/>
</settings>
