<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="General">
    <setting label="30000" type="bool" id="Google" default="false"/>
    <setting type="sep"/>
    <setting label="30001" type="text" id="AnimeListUrl" default="http://sites.google.com/site/anidblist/anidb.xml"/>
    <setting label="30002" type="text" id="AnimeMappingUrl" default="http://sites.google.com/site/anidblist/anime-list.xml"/>
    <setting label="30003" type="bool" id="PersonalAnimeMapping" default="false"/>
    <setting label="30004" type="text" id="PersonalAnimeMappingUrl" default="http://localhost/pers-anime-list.xml" enable="eq(-1,true)"/>
  </category>
  <category label="AniDB">
    <setting label="30100" type="bool" id="OfficalName" default="false"/>
    <setting label="30101" type="labelenum" values="en|de|fr|it|cs|sk|hu|pl|ru|ja|zh" id="OfficalLanguage" default="en" enable="eq(-1,true)"/>
    <setting type="sep"/>
    <setting label="30102" type="bool" id="Prequels" default="true"/>
    <setting label="30103" type="labelenum" values="Parent Story|Alternative Setting|Side Story" id="AlternativePrequelLinkType" default="Parent Story" enable="eq(-1,true)"/>
    <setting type="sep"/>
    <setting label="30104" type="bool" id="SingleStudio" default="true"/>
    <setting label="30105" type="bool" id="SpecialsAtEnd" default="true"/>
    <setting label="30106" type="bool" id="SpecialsInside" default="true"/>
  </category>
  <category label="TheTVDB">
  	<setting label="30200" type="bool" id="Fanart" default="true"/>
    <setting label="30201" type="bool" id="Banners" default="false" enable="eq(-1,true)"/>
    <setting label="30202" type="bool" id="NoFanartContinue" default="true" enable="eq(-2,true)"/>
    <setting label="30203" type="bool" id="ExtraDetails" default="true"/>
  </category>
</settings>
