<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30000" type="bool" id="EnableFullCast" default="true"/>
    <setting label="30001" type="bool" id="EnableTrailers" default="true">
    <setting label="30002" type="bool" id="OnlyFilmAffinity" default="false"/>
    <setting label="30003" type="bool" id="EnableFanArt" default="true"/>
    <setting label="30004" type="bool" id="EnableIMPAwards" default="true"/>
    <setting label="30005" type="bool" id="movieposterdb" default="true"/>
    <setting label="30006" type="bool" id="EnableIMDBPosters" default="true"/>
    <setting label="30007" type="labelenum" values="192|256|384|512|1024" id="imdbscale" default="512"/>
    <setting label="30008" type="bool" id="StudioFlagsON" default="true"/>
    <setting label="30009" type="bool" id="ExtraiMDB" default="true"/>
    <setting label="30010" type="bool" id="iMDBRatings" default="true"/>
</settings>
