<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30000" type="bool" id="GetDVDPlot" default="false" />
    <setting label="30001" type="bool" id="GetTrailer" default="true" />
    <setting label="30002" type="bool" id="GetFullActors" default="false" />
    <setting label="30003" type="bool" id="GetMusic" default="false" />
    <setting label="30004" type="bool" id="UseOriginalTitle" default="false" />
    <setting label="30005" type="bool" id="GetAlwaysTMDbThumb" default="false" />
    <setting label="30011" type="bool" id="NFOUrl" default="true" />
    <setting id="language" default="pl" />
    <setting id="tmdbplotlanguage" default="pl" />
    <setting id="tmdbcertcountry" default="us" />
</settings>