<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30000" type="bool" id="poster" default="true"/>
    <setting label="30002" type="bool" id="iMDBRatings" default="false"/>
    <setting label="30001" type="bool" id="EnableFullCast" default="false"/>
    <setting label="30007" type="labelenum" values="192|256|384|512|1024" id="imdbscale" default="512"/>
</settings>