<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="30000" type="bool" id="htbfanart" default="true"/>
    <setting label="30001" type="bool" id="htbthumbs" default="true"/>
    <setting label="30002" type="bool" id="maartistthumbs" default="true"/>
	<setting type="sep" />
	<setting label="30003" type="bool" id="getalldisc" default="false"/>
</settings>
