<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <setting label="30000" type="bool" id="EnableThumbs" default="true"/>
    <setting label="30001" type="bool" id="EnableFanart" default="true"/>
    <setting label="30002" type="bool" id="EnableTMDBFanart" default="false"/>
    <setting label="30003" type="bool" id="EnableWriter" default="true"/>
    <setting label="30004" type="bool" id="EnableFullPlot" default="true"/>
    <setting label="30005" type="bool" id="EnableMoreCast" default="true"/>
</settings>
