<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30005" type="bool" id="tmdbthumbs" default="false"/>
    <setting label="30000" type="bool" id="fanart" default="true"/>
    <setting type="sep"/>
    <setting label="30007" type="bool" id="criticsscore" default="true"/>
    <setting label="30006" type="bool" id="audiencescore" default="true"/>
    <setting type="sep"/>
    <setting label="30008" type="bool" id="imdbplot" default="false"/>
    <setting type="sep"/>
    <setting label="30001" type="labelenum" values="No|480p|720p|1080p" id="TrailerQ" default="No"/>
</settings>
