<?xml version="1.0" encoding="utf-8"?>
<settings>
    <setting label="30000" type="bool" id="enFullReview" default="false"/>
    <setting label="30001" type="bool" id="enKoccaReview" default="false"/>
    <setting label="30002" type="bool" id="enDiscography" default="true"/>
    <setting label="30003" type="bool" id="enThumbs" default="false"/>
    <setting label="30004" type="bool" id="enFanart" default="true"/>
</settings>
