<?xml version="1.0" ?>
<settings version="1">
	<section id="metadata.tvshows.thesportsdb.python">
		<category id="general" label="128" help="">
			<group id="1">
				<setting id="language" type="string" label="30206" help="">
					<level>0</level>
					<default>EN</default>
					<constraints>
						<options>
							<option label="30207">CN</option>
							<option label="30208">NL</option>
							<option label="30209">EN</option>
							<option label="30210">FR</option>
							<option label="30211">DE</option>
							<option label="30212">IL</option>
							<option label="30213">HU</option>
							<option label="30214">IT</option>
							<option label="30215">JP</option>
							<option label="30216">NO</option>
							<option label="30217">PL</option>
							<option label="30218">PT</option>
							<option label="30219">RU</option>
							<option label="30220">ES</option>
							<option label="30221">SE</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30206</heading>
					</control>
				</setting>
				<setting id="enab_trailer" type="boolean" label="30202" help="">
					<level>0</level>
					<default>true</default>
					<control type="toggle"/>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
					</dependencies>
				</setting>
				<setting id="players_opt" type="string" parent="enab_trailer" label="30203" help="">
					<level>0</level>
					<default>Tubed</default>
					<constraints>
						<options>
							<option label="30204">YouTube</option>
							<option label="30205">Tubed</option>
						</options>
					</constraints>
					<dependencies>
						<dependency type="visible">
							<condition on="property" name="InfoBool">false</condition>
						</dependency>
						<dependency type="enable" setting="enab_trailer" operator="is">true</dependency>
					</dependencies>
					<control type="spinner" format="string"/>
				</setting>
			</group>
		</category>
		<category id="advanced" label="30200" help="">
			<group id="1">
				<setting id="verboselog" type="boolean" label="30201" help="">
					<level>0</level>
					<default>false</default>
					<control type="toggle"/>
				</setting>
			</group>
		</category>
	</section>
</settings>
