<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
  <category label="$LOCALIZE[128]">
    <setting type="lsep" label="30030"/>
    <setting id="token" type="text" label="Token" default="" visible="false" />
    <setting id="tokenb64" type="text" label="Token b64" default="" visible="false" />
    <setting id="username" type="action" label="30003" action="RunScript($CWD/resources/lib/useraccount.py,username)" option="close" default="" />
    <setting id="password" type="action" label="30004" action="RunScript($CWD/resources/lib/useraccount.py,password)" option="hidden" default="" enable="!eq(-1,)" visible="!eq(0,)" />
    <setting type="action" label="30004" action="RunScript($CWD/resources/lib/useraccount.py,password)" option="close" default="" enable="!eq(-2,)" visible="eq(-1,)" />

    <setting type="lsep" label="30020"/>
    <setting id="language" type="enum" label="30000" lvalues="30001|30002" default="0" />
    <setting type="sep" />
    <setting id="rating" type="enum" label="30010" lvalues="30011|30012|30013" default="2" />
    <setting id="mpaa" type="select" label="30016" values="Argentina|Australia|Austria|Belgium|Brazil|Canada|Chile|China|Colombia|Cyprus|Czech Republic|Denmark|East Germany|Egypt|Finland|France|Germany|Greece|Hong Kong|Hungary|Iceland|India|Indonesia|Iran|Iraq|Ireland|Israel|Italy|Japan|Kuwait|Lebanon|Luxembourg|Malaysia|Malta|Mexico|Netherlands|New Zealand|Norway|Peru|Philippines|Poland|Portugal|Puerto Rico|Romania|Singapore|Slovakia|South Africa|South Korea|Soviet Union|Spain|Sweden|Switzerland|Taiwan|Thailand|Turkey|UK|USA|Ukraine|Venezuela|Vietnam|West Germany" default="France" />
    <setting type="sep" />
    <setting id="saga" type="bool" label="30014" default="true" />
  </category>

  <category label="30050">
    <setting type="lsep" label="30051"/>
    <setting type="action" label="30052" action="RunScript($CWD/resources/lib/xbmcwebbrowser.py,$ID,http://passion-xbmc.org/scraper-cine-passion-support-francais/)" default="" />
    <setting type="lsep" label="30053"/>
    <setting type="action" label="30054" action="RunScript($CWD/resources/lib/xbmcwebbrowser.py,$ID,http://passion-xbmc.org/scraper/index2.php?Page=Home)" default="" />
  </category>

  <category label="Debugging">
    <setting type="lsep" label="Only available for team members"/>
    <setting type="action" label="Set Debug" option="close" action="RunScript($CWD/resources/lib/debug.py)" default="" />
    <setting id="debug" type="text" label="Folder" default="" subsetting="true" enable="!eq(0,)" />
  </category>
</settings>
